<div class="container">
  <h3>To Do list</h3>
  <app-addtaskinput className="addTaskTextBox" #addtaskinput></app-addtaskinput>
  &nbsp;
  <button class="quickadd" (click)="addToDoItem(addtaskinput)">
    <span>Quick Add</span></button
  >&nbsp;
  <button class="add" (click)="openModal('custom-modal-1')">
    <span>Add</span></button
  >&nbsp;
  <button class="clearAll" (click)="clearAllToDoItems()">
    <span>Clear All</span>
  </button>
  <jw-modal (afterEditEvent)="afterEdit($event)" id="custom-modal-1">
      <to-do-item-dialog
        (addEvent)="
          addToDoItemInfo(
            $event.taskContent,
            $event.taskDescription,
            $event.dueDate,
            $event.dueTime
          )
        "
        (closeEvent)="closeModal('custom-modal-1')"
      ></to-do-item-dialog>
    </jw-modal>
  
  <div class="todolist">
    <div *ngFor="let toDoItem of toDoItems">
      <app-to-do-input-item
        [content]="toDoItem.taskContent"
        [status]="toDoItem.completed"
        [dueDate]="toDoItem.dueDate"
        [dueTime]="toDoItem.dueTime"
        [id]="toDoItem.id"
        (checkBoxEvent)="updateToDoItemStatus($event.status, $event.id)"
        (editEvent)="editToDoItem(toDoItem)"
        (deleteEvent)="deleteToDoItem($event)"
      ></app-to-do-input-item>
    </div>
  </div>
</div>
